@import url('https://fonts.googleapis.com/css2?family=Rokkitt&display=swap:100,200,300,400,500,600,700,800|Open Sans:100,200,300,400,500,600,700,800');

/*-----------------------------------------Colors----------*/


/*-----------------------------------------------image */
.img-fluid {
 max-width: 100%;
height: auto;
}

.m-15 {
    margin-top: 15px;
}

.col-md-6 {
    margin-bottom: 0px;
}

.col-lg-3 {
    margin-bottom: 90px;
    margin-top: 20px;
}

.card-header {
    text-align: center;
   

.card {
    position: relative;
    bottom: 15px;
}



/*---------------------------------------------navbar */

.container-fluid {
 padding-top: 10px;
 padding-right: 35px;
}

.navbar-brand {

padding-left: 20px;
}

.navbar-nav {
width: 100%;
}

.d-flex {
text-transform: uppercase;
font-family: 'Rokkitt', serif;
font-size: 20px;
}

   




/*-----------------------------Album/songs-------*/

.row {
    margin-left: 5px;
    margin-right: 5px;
}

.justify-content-around {
    height: 300px;
    margin-top: 25px;
    padding-top: 20px;
}

.col-12 {
    text-align: center;
    padding-top: 20px;
}

